* {
  box-sizing: border-box;
}

body {
  background-image: url(./assets/restaurant.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
}

#container {
  margin-top: 3rem;
  width: 100%;
}

.nav-divs {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-weight: 900;
  background-color: silver;
  margin: 0;
}

.nav-btn {
  font-size: 1.5rem;
  cursor: pointer;
  color: #000;
  border: none;
  border-radius: 30%;
  font-weight: 900;
  outline: none;
  padding: 10px;
}

.nav-btn:hover {
  background-color: gold;
}

#home-div-container,
#contact-div-container {
  background-color: #fff;
  text-align: center;
  width: 50%;
  margin: 200px auto 0;
  padding: 1.5rem;
  border-radius: 10px;
}

#contact-div-container {
  margin-top: 9rem;
}

#contact-div-container div ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

#contact-div-container div ul li a .fab {
  font-size: 1.5rem;
  color: #000;
}

.menu-btn {
  margin-top: 1rem;
  background-color: royalblue;
  border-color: royalblue;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
}

.menu-btn:focus,
.order-btn:focus {
  outline: none;
}




footer {
  display: flex;
  justify-content: space-between;
  background-color: silver;
  color: #fff;
  font-size: 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

footer .fab {
  color: #fff;
}

#contact-div-container div ul li a .fa-instagram:hover {
  color: #C13584;
}


.fa-github:hover {
  color: #000;
}

.fa-linkedin:hover {
  color: #0077b5;  
}

#contact-div-container div ul li a .fa-twitter:hover,
.fa-twitter:hover {
  color: #007bff;
}

#contact-div-container div ul li a .fa-facebook:hover,
.fa-facebook:hover {
  color: #0056b3;
}

footer .icons {
  margin: 1rem;
}